@model FerragensOnline.Models.Estoque

@{
    ViewData["Title"] = "Visualização das informações do cadastro";
}

    <h1>Visualização das informações do cadastro</h1>

<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco_Custo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco_Custo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco_Final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco_Final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_Barras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_Barras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id"><img src="~/img/editar.png" />Editar</a> |
    <a asp-action="Index"><img src="~/img/lista.png" />Lista de Cadastro</a>
</div>
