@model IEnumerable<FerragensOnline.Models.Estoque>

@{
    ViewData["Title"] = "Loja Online";
}
<div class="container border col-11 rounded" style="background-color:ghostwhite">
    <br />
    <h2 class="text-center">Estoque</h2>
    <hr />
   <div class="row">
       <div class="col">
           <p>       
               <a asp-action="Create" class="btn btn-info text-lg-right">Cadastrar <img src="~/img/add.png" /></a>
           </p>
   </div>
   </div>
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco_Custo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco_Final)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo_Barras)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fornecedor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco_Custo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco_Final)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo_Barras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fornecedor)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id"><img src="~/img/editar.png" alt="Editar" /></a> |
                        <a asp-action="Details" asp-route-id="@item.id"><img src="~/img/detalhes.png" alt="Visualizar" /></a> |
                        <a asp-action="Delete" asp-route-id="@item.id"><img src="~/img/delete.png" alt="Excluir" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        <br />
    </div>
    </div>